$color-primary-light: #84f3d4;
$color-primary: #55efc4;
$color-primary-dark: #13c391;

$color-secondary: #2d3436;

$color-grey-light-1: #f1f2f6;
$color-grey-light-2: #dfe4ea;
$color-grey-light-3: #d1d3d4;

$color-grey-dark-1: #010305;

$color-white: #fff;
$color-black: #000;

$font-serif: "Roboto Slab", serif;
$font-sans: "Poppins", sans-serif;
$font-display: "Bebas Neue", cursive;

$border-radius: 1rem;
